# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Node
node_modules/
.npm/

# Termux local
.termux/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# MkDocs
site/

# Environment
.env
*.log